/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}

.efeito-txt-topo, .efeito-img-topo,.efeito-h2,.efeito-especialidades1,.efeito-especialidades2,.efeito-especialidades3,.efeito-meu,.efeito-meu-txt, .efeito-escada1, .efeito-escada2,.efeito-escada3,.efeito-bonito1,.efeito-bonito2,.efeito-bonito3,.efeito-bonito4,.efeito-bonito5{
    visibility: hidden;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00ffb3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #00ffb3;
    transform: scale(1.05);
}
h2.titulo, .parte1, .parte2{
    color: #fff;
    font-size: 38px;
    text-align: center;
}
h2.titulo span{
    color: #00FF08;
}
.menu-mobile{
    opacity: 0;
    z-index: 44444;
}
/* ESTILO DO CABEÇALHO */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;

    /* precisou usar o inline-block, porque o "a" não aceita
    as medidas de width e transform, isso impede de usar o
    efeito do hover */

    display: inline-block;
    transition: .2s;
}
header .btn-contato button{
    margin-left: 200px;
}
header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}
header nav  ul{
    list-style-type:none ;
}
header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site{
    padding: 20px 4%;
}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}
.topo-do-site .txt-topo-site h1 span{
    color: #33f1b8;
}
.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}
.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s infinite ease-in-out alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */

section.especialidades{
    padding: 80px 4%;
    padding-bottom: 220px;
}
section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    margin-top: 65px;
    border-radius: 20px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff83;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #00FF08;
}
.especialidades .especialidades-box h3{
    font-size: 28px;
    max-width: 15px 0;
}

/* ESTILO DO SOBRE MIM */
section.sobre{
    padding: 80px 4%;
    padding-bottom: 110px;
    box-shadow: 0 0 40px 10px #5eff0021;
}
section.sobre .flex{
    align-items: center;
    gap: 60px;
}
.sobre .txt-sobre{
    color: #fff;
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: #bbff00;
    display: block;
}
.sobre .txt-sobre p{
    margin: 35px 0;
    text-align: justify;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #bbff00;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTIFOLIO */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #fd121221;
}
section.portifolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}
.parte1 span{
    color: #ff3300;
}
.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}
.img-port:hover{
    background-position: 100% 100%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000a2;
    color: #fff;
    opacity: 0;
    transition: .5s;
}
.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULARIO */
section.formulario{
    padding: 80px 4%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
.parte2 span{
    color: #ff00bf;
}
form input, form textarea{
    width: 100%;
    background-color: #3f3f3f;
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 150px;
}
form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}
form .btn-enviar input{
    width: 120px;
    background-color: #ff00bf;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}
form  input::placeholder{
    color: #ff6cda;
}
form  textarea::placeholder{
    color: #ff6cda;
}
/* ESTILO DO RODAPÉ */
footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #0004ff21;
}
footer .flex{
    justify-content: space-between;
}
footer .line-footer{
    padding: 20px 0;
}
.borda{
    border-top: 2px solid #1a1efaad;
}
footer .line-footer p i{
    color: #1a1efaad;
    font-size: 22px;
    margin-right: 10px;
}
footer .line-footer p a{
    color: #fff;
    text-decoration: none;
}
.btn-social-r button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #1a1efaad;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO DEGRADE */
.box-degrade{
    width: 100%;
    padding: 30px 0;
    background-image: linear-gradient(to left,#1a1efaad,#ff00bf,#ff3300,#bbff00,#00FF08,#33f1b8,#00ffb3,#33f1b8, #00FF08, #bbff00, #ff3300, #ff00bf, #1a1efaad);
    background-size: 500% 100%;
    animation: degrade-animado 8s infinite alternate ease-in-out;
    border-radius: 20px;
}
@keyframes degrade-animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;

    }
}
/* PARTE RESPONSIVIDADE */


@media (max-width: 1020px){
    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* ESTILO DO MENU MOBILE */
.btn-abrir-menu i{
    color: #00ffb3;
    font-size: 40px;
}
.menu-mobile{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 0%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    overflow: hidden;
    transition: .5s;
    opacity: 1;
}

.menu-mobile.abrir-menu{
    width: 70%;
}
.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}
.btn-abrir-menu{
    position: absolute;
    right: 40px;
}
.menu-mobile .btn-fechar{
    padding: 20px 8%;
}
.menu-mobile .btn-fechar i{
    color: #00ffb3;
    font-size: 30px;
}
.menu-mobile nav ul{
    text-align: right;
}
.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 4%;
    display: block;
}
.menu-mobile nav ul li a:hover{
    color: #000;
}
.menu-mobile nav ul li a.ciano:hover{
    background-color: #00ffb3;
}
.menu-mobile nav ul li a.verde:hover{
    background-color: #00FF08;
}
.menu-mobile nav ul li a.amarelo:hover{
    background-color: #bbff00;
}
.menu-mobile nav ul li a.vermelho:hover{
    background-color: #ff3300;
}
.menu-mobile nav ul li a.rosa:hover{
    background-color: #ff6cda;
}
.overlay-menu{
    background-color: #000000d3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 88888;
}

    /* TOPO DO SITE */
    section .topo-do-site .flex{
        gap: 40px;
    }
    section.topo-do-site{
        padding: 20px 8%;
    }
    .topo-do-site h1{
        font-size: 30px;
    }
    .topo-do-site .img-topo-site img{
        width: 100%;
    }
    .img-topo-site{
        width:  430px;
    }

    /* ESPECIALIDADES */
    section.especialidades{
        padding: 40px 8%;
    }
    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }   
    /* SOBRE */
    section.sobre{
        padding: 80px 8%;
    }
    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    .btn-social{
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }
    /* PORTIFOLIO */
    section.portifolio{
        padding: 80px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 10px auto;
    }
    secion.portifolio .flex{
        gap: 60px;
    }
    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
        gap: 300px;
    }
    footer .line-footer{
        text-align: center;
    }
}
